<div class="menu">
    <div class="dropdown">Entrées
        <ul class="dropdown-content">
            <li>Toutes les entrées</li>
            <li>Chinois</li>
            <li>Français</li>
        </ul>
    </div>
    <div class="dropdown">Plats
        <ul class="dropdown-content">
            <li>Tous les plats</li>
            <li>Chinois</li>
            <li>Français</li>
        </ul>
    </div>
    <div class="dropdown">Desserts</div>
</div>