<head>
    <link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
    <link rel="stylesheet" href="/css/index.css" />
    <title>Les bonnes recettes d'Evy &#127859;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/389e541470.js" crossorigin="anonymous"></script>
  </head>
</head>