<header class="header">
    <div class="title"><b>Les bonnes recettes d'Evy</b></div>
    <div class="searchBar">
        <input type="text" class="search" placeholder="Rechercher une recette">
        <button type="submit" class="searchButton">
            <div class="stove">&#127859;</div>
         </button>
    </div>
</header>