<div class="menu">
    <div class="category" onclick="openSideNavStarters()">Entrées</div>
    <div class="category" onclick="openSideNavDishes()">Plats</div>
    <div class="category">Desserts</div>
</div>