<nav id="sideNavStarters" class="sideNav">
    <ul>
        <li>Toutes les entrées</li>
        <li>Chinois</li>
        <li>Français</li>
    </ul>
</nav>

<nav id="sideNavDishes" class="sideNav">
    <ul>
        <li>Tous les plats</li>
        <li>Chinois</li>
        <li>Français</li>
    </ul>
</nav>