<nav id="sideNav" class="sideNav">
    <ul>
        <li><button class="category">Toutes les entrées</button></li>
        <li><button>Chinois</button><button>Français</li>
    </ul>
</nav>

<nav id="sideNav" class="sideNav">
    <ul>
        <li><button>Tous les plats</button></li>
        <li><button>Chinois</button><button>Français</li>
    </ul>
</nav>