<div id="outsideOfSideNav" class="outsideOfSideNav" onclick="closeSideNav()"></div>
<nav id="sideNav" class="sideNav">
    <ul>
        <li><button onclick="showAllStarters()" class="category">Toutes les entrées</button></li>
        <li><button onclick="showStartersByCountry('Chinois')">Chinois</button></li>
        <li><button onclick="showStartersByCountry('Français')">Français</button></li>
    </ul>
    <ul>
        <li><button onclick="showAllDishes()" class="category">Tous les plats</button></li>
        <li><button onclick="showDishesByCountry('Américain')">Américain</button></li>
        <li><button onclick="showDishesByCountry('Chinois')">Chinois</button></li>
        <li><button onclick="showDishesByCountry('Espagnol')">Espagnol</button></li>
        <li><button onclick="showDishesByCountry('Français')">Français</button></li>
        <li><button onclick="showDishesByCountry('Indochinois')">Indochinois</button></li>
        <li><button onclick="showDishesByCountry('Italien')">Italien</button></li>
        <li><button onclick="showDishesByCountry('Maghrébin')">Maghrébin</button></li>
        <li><button onclick="showDishesByCountry('Vietnamien')">Vietnamien</button></li>
    </ul>
    <ul>
        <li><button onclick="showAllDesserts()" class="category">Tous les desserts</button></li>
        <li><button onclick="showDessertsByCountry('Américain')">Américain</button></li>
        <li><button onclick="showDessertsByCountry('Français')">Français</button></li>
    </ul>
</nav>