<!DOCTYPE html>
<html lang="fr">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Les bonnes recettes d'Evy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <script src="/js/index.js"></script>
  </body>
</html>
