<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les bonnes recettes d'Evy</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/389e541470.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="arrowUp"></div>
    <header>
        <h1 class="title">Les bonnes recettes d'Evy</h1>
        <a class="logoutButton" href="/admin/logout"><i class="fas fa-sign-out-alt"></i></a>
    </header>