<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les bonnes recettes d'Evy</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/389e541470.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a class="homeButton" href="/"><i class="fas fa-home"></i></a>
        <h1 class="title">Les bonnes recettes d'Evy</h1>
        <nav class="navBar">
            <div class="selects">
                <select class="recipeCategory" name="recipeCategory">
                    <option value="toutes-les-categories">Toutes les catégories</option>
                    <option value="entree">Entrées</option>
                    <option value="plat">Plats</option>
                    <option value="dessert">Desserts</option>
                </select>
                <select class="recipeCountry" name="recipeCountry">
                    <option value="tous-les-types-de-cuisine">Tous les types de cuisine</option>
                    <option value="americain">Américain</option>
                    <option value="chinois">Chinois</option>
                    <option value="espagnol">Espagnol</option>
                    <option value="francais">Français</option>
                    <option value="franco-japonais">Franco-Japonais</option>
                    <option value="indochinois">Indochinois</option>
                    <option value="italien">Italien</option>
                    <option value="maghrebin">Maghrébin</option>
                    <option value="vietnamien">Vietnamien</option>
                </select>
            </div>
            <div class="search">
                <input type="text" name="search" placeholder="Rechercher une recette"/>
            </div>
        </nav>
    </header>