.introduction {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;

  @media (max-width: 480px) {
      flex-direction: column;
      margin-top: 10px;
    }
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}
.category {
  font-size: 36px;
  font-weight: 600;
  color: rgb(182, 7, 65);

  @media (max-width: 480px) {
      font-size: 16px;
    }
}
.country {
  font-size: 40px;
  color: rgb(182, 7, 65);

  @media (max-width: 480px) {
      font-size: 24px;
    }
}
.name {
  font-size: 56px;
  font-weight: 900;
  text-align: center;

  @media (max-width: 480px) {
      font-size: 32px;
    }
}
.time {
  text-align: right;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (max-width: 480px) {
      font-size: 18px;
    }
}
.preparationTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.preparationTime i {
  margin-right: 10px;
  color: rgb(182, 7, 65);
}
.restTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restTime i {
  margin-right: 10px;
  color: rgb(182, 7, 65);
}
.cookingTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cookingTime i {
  margin-right: 10px;
  color: rgb(182, 7, 65);
}
.totalTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.totalTime i {
  margin-right: 10px;
  color: rgb(182, 7, 65);
}
.quantity {
  font-size: 36px;

  @media (max-width: 480px) {
      font-size: 18px;
    }
}
.photoContainer {
  display: flex;
  align-items: center;
}
.photo {
  border-radius: 10px;
  transition: all 0.5s ease;
  object-fit: contain;

  @media (max-width: 480px) {
      margin: 20px;
      width: calc(100% - 40px);
    }
}
.photo:hover {
  transform: rotate(-5deg);

  @media (max-width: 480px) {
      transform: none;
    }
}