.header {
    background-color: black;
    box-shadow: 10px 5px 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    text-shadow: 0 0 10px rgb(182, 7, 65);
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: calc(100% - 40px);
    padding: 20px;
    z-index: 1;

    @media (max-width: 480px) {
        flex-direction: column;
        font-size: 24px;
        justify-content: unset;
        height: 80px;
    }
}
.menu {
  display: flex;

  @media (max-width: 480px) {
      height: 32px;
      margin-top: 20px;
    }
}
.homeLink {
  width: 54px;
  height: 54px;
  border: 1px solid rgb(182, 7, 65);
  background: rgb(182, 7, 65);
  color: white;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  font-size: 30px;
  transition: 0.3s;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-shadow: none;

  @media (max-width: 480px) {
      height: 30px;
      width: 30px;
      font-size: 18px;
    }
}
.homeLink:hover {
  background: white;
  opacity: 0.9;
  color: rgb(182, 7, 65);
}
.filterButton {
  width: 56px;
  height: 56px;
  border: 1px solid rgb(182, 7, 65);
  background: rgb(182, 7, 65);
  color: white;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  font-size: 30px;
  transition: 0.3s;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;

  @media (max-width: 480px) {
      height: 32px;
      width: 32px;
      font-size: 18px;
    }
}
.filterButton:hover {
  background: white;
  opacity: 0.9;
  color: rgb(182, 7, 65);
}
.searchBar {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 10px !important;
    margin-left: 16px;
    .input {
      width: 178px;
      color: rgb(182, 7, 65);

      @media (max-width: 480px) {
        width: 156px;
        ::placeholder {
          font-size: 14px;
          color: rgb(182, 7, 65);
        }
      }
    }
}