.introduction {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.recipePhotoContainer {
  display: flex;
  align-items: center;
}
.recipePhoto {
  border-radius: 10px;
  transition: all 0.5s ease;
  object-fit: contain;
}
.recipePhoto:hover {
  transform: rotate(-5deg);
}
.recipeTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}
.recipeCategory {
  font-size: 36px;
  font-weight: 600;
  color: rgb(182, 7, 65);
}
.recipeCountry {
  font-size: 40px;
  color: rgb(182, 7, 65);
}
.recipeName {
  font-size: 56px;
  font-weight: 900;
  text-align: center;
}
.time {
  text-align: right;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.preparationTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.preparationTime i {
  margin-right: 10px;
  color: rgb(182, 7, 65);
}
.restTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restTime i {
  margin-right: 10px;
  color: rgb(182, 7, 65);
}
.cookingTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cookingTime i {
  margin-right: 10px;
  color: rgb(182, 7, 65);
}
.totalTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.totalTime i {
  margin-right: 10px;
  color: rgb(182, 7, 65);
}
.quantity {
  font-size: 36px;
}
.recipe {
  display: flex;
  justify-content: space-evenly;
  line-height: 32px;
  margin-top: 160px;
  padding: 0 40px;
}
.ingredients {
  font-size: 32px;
  font-weight: 600;
  color: rgb(182, 7, 65);
  background-color: rgb(34, 34, 34);
  padding: 40px;
  border-radius: 10px;
  min-width: 200px;
}
.ingredients li {
  font-size: 18px;
  font-weight: normal;
  color: white;
}
.instructions {
  font-size: 32px;
  font-weight: 600;
  color: rgb(182, 7, 65);
  padding: 40px;
  padding-right: 0;
}
.instructions li {
  font-size: 18px;
  font-weight: normal;
  color: white;
}
ol {
  list-style: none;
  counter-reset: counter;
}
ol li {
  counter-increment: counter;
}
ol li::before {
  content: counter(counter) " ";
  color: rgb(182, 7, 65);
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
}

@media (max-width: 480px) {
  .introduction {
    flex-direction: column;
    margin-top: 10px;
  }
  .recipePhoto {
    margin: 20px;
    width: calc(100% - 40px);
  }
  .recipePhoto:hover {
    transform: none;
  }
  .recipeCategory {
    font-size: 16px;
  }
  .recipeCountry {
    font-size: 24px;
  }
  .recipeName {
    font-size: 32px;
  }
  .time {
    font-size: 18px;
  }
  .quantity {
    font-size: 18px;
  }
  .recipe {
    flex-direction: column;
    margin-top: 0;
    padding: 0;
  }
  .ingredients {
    font-size: 18px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .ingredients li {
    font-size: 16px;
  }
  .instructions {
    font-size: 18px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .instructions li {
    font-size: 16px;
  }
  ol li::before {
    font-size: 16px;
  }
}
